.custom-button {
    background-color: #41bfd2; 
    color: white; 
    border: none; 
}

.custom-button-save {
    background-color: #41bfd2; 
    color: white;
    border: none;
}

.custom-button-edit {
    background-color: #41bfd2; 
    color: white;
    border: none;
}
