.custom-sidebar {
    background-color: #088ca6; 
  }
  .btn-toggle-menu {
    width: 100%;
    padding: 10px;
    text-align: left;
    background: none;
    border: none;
    color: #fff;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: start;
  
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  
    i {
      margin-right: 8px;
    }
  }
  