.custom-button-save {
    background-color: #24bbbb; 
    color: white;
    border: none;
}

.custom-button-edit {
    background-color: #00b3ff; 
    color: white;
    border: none;
}

.custom-button-insert {
    background-color: #41bfd2; 
    color: white;
    border: none;
}

