.btn-insertar {
    background-color: #41bfd2; 
    color: white;
    border: none;
}

.btn-guardar {
    background-color: #41bfd2; 
    color: white;
    border: none;
}

.btn-editar {
    background-color: #41bfd2; 
    color: white;
    border: none;
}

